@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none; 
      scrollbar-width: none; 
}
}

.navbar-logo{
  min-width: 1.7012rem;
  min-height: 2.1475rem;
}
.navbar-icon{
  height: clamp(1.125rem,1.125rem,1.125rem);
  min-width: 1.125rem;
}
.contacts-profile{
  height: clamp(3.5rem,3.5rem,2.5rem);
  width: clamp(3.5rem,3.5rem,2.5rem);
  min-width: 3.5rem;
}
.orange-shadow{
  box-shadow: 0px 4px 34px 0px #FF731D1A;
}
.participants-profile{
  height: clamp(1.875rem,1.875rem,0.875rem);
  min-width: 1.875rem;
}
.typing-profile{
  height: clamp(1.75rem,1.75rem,1.75rem);
  min-width: 1.75rem;
}
.info-profile{
  height: clamp(4.625rem,4.625rem,4.625rem);
  min-width: 4.625rem;
}
.info-media{
  height: clamp(9.375rem,9.375rem,8.375rem);
  width: clamp(9.375rem,9.375rem,8.375rem);
  min-width: 8.375rem;
}

@media screen and (max-width:1300px) {
  .contacts-profile{
    max-height: 2.5rem;
    min-width: 2rem;
    max-width: 2.5rem;
  }
}